/*<meta />*/

/*
// {{MadCap}} //////////////////////////////////////////////////////////////////
// Copyright: MadCap Software, Inc - www.madcapsoftware.com ////////////////////
////////////////////////////////////////////////////////////////////////////////
// <version>6.1.0.0</version>
////////////////////////////////////////////////////////////////////////////////
*/

.MCDropDown
{
	
}

.MCDropDownHead
{
	
}

.MCDropDownHotSpot
{
	
}

.MCDropDownBody
{
	
}

.MCDropDownIcon
{
	border: none;
}

.MCExpanding
{
	
}

.MCExpandingHead
{
	
}

.MCExpandingBody
{
	
}

.MCExpandingIcon
{
	border: none;
}

.MCKLink
{
	
}

.MCKLinkSpot
{
	
}

.MCKLinkBody
{
	background-color: #bbccdd;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	cursor: hand;
	filter: alpha( opacity = 100 );
	-moz-opacity: 1.0;
	z-index: 2;
}

.MCKLinkBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 100 );
	-moz-opacity: 1.0;
	z-index: 1;
}

.MCKLinkBodyCell_Highlighted
{
	padding: 5px;
	background-color: Blue;
	color: White;
}

.MCKLinkBodyCell
{
	padding: 5px;
	background-color: Transparent;
	color: Black;
}

.MCKeywordLinkIcon
{
	border: none;
}

.MCConceptLinkIcon
{
	border: none;
}

.MCRelatedTopicsIcon
{
	border: none;
}

.MCPopup
{
	
}

.MCPopupSpot
{
	
}

.MCPopupBody
{
	background-color: #ffffff;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

.MCPopupBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

.MCTextPopup
{
	
}

.MCTextPopupSpot
{
	
}

.MCTextPopupBody
{
	background-color: #bbccdd;
	border: solid 1px #000000;
	margin: 0px;
	padding: 5px;
	position: absolute;
	overflow: auto;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

.MCTextPopupBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

.MCPopupThumbnail
{
	border: none;
}

.MCPopupThumbnail_Popup
{
	border: solid 1px Gray;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 102;
}

.MCToggler
{
	
}

.MCTogglerIcon
{
	border: none;
}

div.MCDialogWrapper
{
	width: 400px;
	position: fixed;
	z-index: 110;
}

div.MCDialog
{
	width: 400px;
	position: absolute;
	padding: 10px;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

div.MCDialogShadow
{
	width: 400px;
	position: absolute;
	padding: 10px;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

div.MCDialog table.MCDialogOuterTable
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	border-collapse: collapse;
	table-layout: fixed;
}

div.MCDialog table.MCDialogOuterTable td.Label
{
	vertical-align: top;
}

endnotesBlock
{
	display: block;
}

endnoteBlock
{
	display: block;
}

footnotesBlock
{
	display: block;
}

footnoteBlock
{
	display: block;
}

a.MCXref_FigTabExam
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_FigTabExam:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_FigTabExam:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_FigTabExam:hover
{
	
}

a.MCXref_FigTabExam:focus
{
	
}

a.a_0
{
	color: #00008b;
}

a.a_0:link
{
	text-decoration: none;
	color: #00008b;
}

a.a_0:visited
{
	text-decoration: none;
	color: #800000;
}

a.a_0:hover
{
	color: #800000;
}

a.a_0:focus
{
	outline: thin dotted invert;
}

a.MCXref_See_Prefixed
{
	color: #000000;
	text-decoration: none;
}

a.MCXref_See_Prefixed:link
{
	color: #000000;
	text-decoration: none;
}

a.MCXref_See_Prefixed:visited
{
	color: #000000;
	text-decoration: none;
}

a.MCXref_See_Prefixed:hover
{
	
}

a.MCXref_See_Prefixed:focus
{
	
}

a.MCXref_See_NoPrefix
{
	color: #000000;
	text-decoration: none;
}

a.MCXref_See_NoPrefix:link
{
	color: #000000;
	text-decoration: none;
}

a.MCXref_See_NoPrefix:visited
{
	color: #000000;
	text-decoration: none;
}

a.MCXref_See_NoPrefix:hover
{
	
}

a.MCXref_See_NoPrefix:focus
{
	
}

a.MCXref_Equation
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Equation:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Equation:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Equation:hover
{
	
}

a.MCXref_Equation:focus
{
	
}

a.MCXref_Figure_Table_Example
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Figure_Table_Example:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Figure_Table_Example:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Figure_Table_Example:hover
{
	
}

a.MCXref_Figure_Table_Example:focus
{
	
}

a.MCXref_NoPrefix
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_NoPrefix:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_NoPrefix:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_NoPrefix:hover
{
	
}

a.MCXref_NoPrefix:focus
{
	
}

a.MCXref_SimpleLinkItalic
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_SimpleLinkItalic:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_SimpleLinkItalic:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_SimpleLinkItalic:hover
{
	
}

a.MCXref_SimpleLinkItalic:focus
{
	
}

a.MCXref_EquationPage
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_EquationPage:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_EquationPage:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_EquationPage:hover
{
	
}

a.MCXref_EquationPage:focus
{
	
}

a.MCTextPopupSpot
{
	vertical-align: super;
	font-size: 0.9em;
	color: #06347a;
}

a.MCTextPopupSpot:link
{
	vertical-align: super;
	font-size: 0.9em;
	color: #06347a;
}

a.MCTextPopupSpot:visited
{
	vertical-align: super;
	font-size: 0.9em;
	color: #06347a;
}

a.MCTextPopupSpot:hover
{
	
}

a.MCTextPopupSpot:focus
{
	
}

span.MCTextPopupBody
{
	position: absolute;
	overflow: auto;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
	padding: 5px;
	margin: 0px;
	border: solid 1px #000000;
	color: #000000;
	font-size: 9pt;
	font-family: Arial;
	background-color: #f5f5f5;
}

a.MCXref_SimpleLink
{
	font-style: normal;
	color: #00008b;
	text-decoration: none;
}

a.MCXref_SimpleLink:link
{
	font-style: normal;
	color: #00008b;
	text-decoration: none;
}

a.MCXref_SimpleLink:visited
{
	font-style: normal;
	color: #00008b;
	text-decoration: none;
}

a.MCXref_SimpleLink:hover
{
	
}

a.MCXref_SimpleLink:focus
{
	
}

a.MCXref_Fig_Tab_Exam
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Fig_Tab_Exam:link
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Fig_Tab_Exam:visited
{
	color: #00008b;
	text-decoration: none;
}

a.MCXref_Fig_Tab_Exam:hover
{
	
}

a.MCXref_Fig_Tab_Exam:focus
{
	
}

div.MCGlossaryProxy
{
	padding-left: 20px;
	margin-top: 10px;
	padding-top: 10px;
	border-top-color: black;
	border-top-width: 1px;
	border-top-style: none;
}

div.MCTocProxy
{
	padding-left: 20px;
	margin-top: 10px;
	padding-top: 10px;
	border-top-color: black;
	border-top-width: 0px;
	font-family: Arial;
	border-top-style: none;
}

table.GenTOCTable1
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 12pt;
	margin-bottom: 3pt;
}

td.GenTOCText1
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	mc-leader-format: 'none';
	color: #06347a;
	font-size: 12pt;
	font-family: Arial;
	font-weight: bold;
}

a.GenTOCText1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: 'none';
	color: #06347a;
	font-size: 12pt;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}

a.GenTOCText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: 'none';
	color: #06347a;
	font-size: 12pt;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}

td.GenTOCAutoText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #06347a;
	font-size: 12pt;
	font-family: Arial;
	font-weight: bold;
}

td.GenTOCPageText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	margin: 0;
	color: #06347a;
	font-size: 12pt;
	font-family: Arial;
	font-weight: bold;
	text-align: right;
	white-space: normal;
}

td.mcReset
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

MadCap|xref.TOCPageNumber
{
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
}

